@keyframes logoGlow {
    0% {
        filter: drop-shadow(0 0 0 rgba($color-primary-cyan, .1));
    }

    20% {
        filter: drop-shadow(0 0 0 rgba($color-primary-cyan, .1));
    }
    
    40% {
        filter: drop-shadow(0 0 2rem rgba($color-primary-cyan, .3));        
    }
    
    55% {
        filter: drop-shadow(0 0 1rem rgba($color-primary-cyan, .4));
    }

    70% {
        filter: drop-shadow(0 0 6rem rgba($color-primary-cyan, .8));
    }

    100% {
        filter: drop-shadow(0 0 0 rgba($color-primary-cyan, .1));
    }
}

@keyframes logoBorder {
    0% {
        border: $color-primary-pink 1px solid;
    }
    
    25% {
        border: $color-primary-cyan 1px solid;
    }

    50% {
        border: $color-primary-blue 1px solid;
    }

    75% {
        border: $color-primary-green 1px solid;
    }
    
    100% {
        border: $color-primary-pink 1px solid;
    }
}