.header {
    height: 300rem;
    width: 100%;
    position: relative;
    background-color: $color-grey-darker;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    &__bg {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__logo-box {
        display: block;
        max-width: 35rem;
        width: 100%;
        max-height: 35rem;
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        z-index: 1;
        perspective: 20rem;
    }

    &__logo {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        animation: logoGlow 5500ms ease-in-out infinite;
    }

    &__title,
    &__subtitle {
        display: inline-block;
        letter-spacing: 0rem;
        text-transform: uppercase;
        text-align: center;
        position: fixed;
        left: 50vw; 
        transform: translate(-50%, -50%);
        filter: invert(1);
    }

    &__title {
        width: 100%;
        font-size: 6rem;
        z-index: 2;
        // position: relative;
        // top: 6rem;
        top: 55vh;
    }

    &__first-name {
        display: inline-block;
        margin-right: 3rem;
    }

    &__last-name {
        display: inline-block;
    }

    &__subtitle {
        font-size: 2.5rem;
        z-index: 2;
        // position: relative;
        // top: 6rem;
        top: 60vh;
        font-weight: 600;
    }
    
    &__letter {
        display: inline-block;

        &--M {
        }        
        
        &--I {
        }
        
        &--K {
        }
        
        &--E {
        }

        &--C {
        }

        &--H {
        }

        &--O {
        }
    }
}