// FONTS
@font-face {
    font-family: 'product sans';
    src: url('../fonts/Product_Sans/product_sans_regular.woff') format('woff'),
         url('../fonts/Product_Sans/product_sans_regular.woff2') format('woff2');
}    

@font-face {
    font-family: 'product sans';
    src: url('../fonts/Product_Sans/product_sans_bold.woff') format('woff'),
         url('../fonts/Product_Sans/product_sans_bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway/raleway_thin-webfont.woff') format('woff');
}

body {
    // font-family: 'product sans';
    font-family: 'raleway';
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.6;
}

.heading-1 {
    font-size: 16rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1rem;
}

.heading-2 {
    font-size: 10rem;
    font-weight: 300;
    line-height: 1;
}

.heading-3 {
    font-size: 8rem;
    font-weight: 300;
    line-height: 1;
}

.heading-4 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
}

.heading-5 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
}

.heading-6 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
}

.section-title {
    &--about {
        position: relative;
        z-index: 2;
    }
}

.background-text {
    // opacity: .15;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%);
    
    &--about {
        z-index: 1;
    }

    &--projects {
        z-index: 1;
    }

    &--skills {
        // display: none;
    }

    &--contact {
        // display: none;
    }
}

.fine-print {
    font-size: 2rem;
    display: block;
}

.split-heading {
    display: block;
    letter-spacing: 1.2rem;
    line-height: 2;
    font-size: $huge-font-size;
    text-transform: uppercase;
}