<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="shortcut icon" href="../public/img/ico/favicon_16.ico" /> -->
    <link rel="shortcut icon" href="../public/img/ico/favicon_32_3.ico" />
    <link rel="stylesheet" href="../public/css/style.css">    
    <script src="https://unpkg.com/rematrix"></script>
    <title>Mike Choi | Portfolio</title>
</head>
<body class="body">
    <!-- BODY BACKGROUND NOISE -->
    <div class="noise-body">
        <canvas class="noise"></canvas>
    </div>

    <!-- ========== LOADING SCREEN ========== -->
    <!-- <div class="loading">
        LOADING ANIMATION
    </div> -->
    
    <!-- ========== NAVIGATION BAR ========== -->
    <!-- <div class="navigation">
        NAVIGATION 
    </div> -->

    <!-- ========== TOP CORNER LOGO ========== -->
    <div class="logo-box">
        <img class="logo" src="../public/img/svg/logo/LionHead_Gray_GoldEyes_Flat2.svg">
    </div>

    <!-- ========== HEADER SECTION ========== -->
    <header class="header">
        <!-- <div class="header__bg"> -->
            <!-- <canvas class="noise parallax" data-parallax-opacity="0.053"></canvas> -->
        <!-- </div>  -->

        <div class="header__logo-box">
            <img class="header__logo parallax" src="../public/img/svg/logo/LionHead_Gray_GoldEyes_Flat2.svg" data-parallax-rotate-active=".4" data-parallax-rotate-passive="0.0008" data-parallax-translate-passive="0, 0.1" data-parallax-scale-passive="0.005, 0.005" data-parallax-opacity="0.11">
        </div>
        
        <div class="header__main-title">
            <h1 class="header__first-name parallax" data-parallax-opacity="0.11" data-parallax-translate-passive="0, -0.1">
                <span class="header__letter header__letter--M parallax" 
                data-parallax-translate-passive="-0.11, -0.12">M</span>
                <span class="header__letter header__letter--I parallax" data-parallax-translate-passive="-0.09, -0.08">I</span>
                <span class="header__letter header__letter--K parallax" data-parallax-translate-passive="-0.07, -0.05">K</span>
                <span class="header__letter header__letter--E parallax" data-parallax-translate-passive="-0.04, -0.02">E</span>
            </h1>
            <h1 class="header__last-name parallax" data-parallax-opacity="0.11" data-parallax-translate-passive="0, -0.1">
                <span class="header__letter header__letter--C parallax" data-parallax-translate-passive="0.04, -0.02">C</span>
                <span class="header__letter header__letter--H parallax" data-parallax-translate-passive="0.07, -0.05">H</span>
                <span class="header__letter header__letter--O parallax" data-parallax-translate-passive="0.09, -0.08">O</span>
                <span class="header__letter header__letter--I parallax" data-parallax-translate-passive="0.11, -0.12">I</span>
            </h1>
        </div>
        <div class="header__secondary-title">
            <h6 class="header__description parallax" data-parallax-opacity="0.11" data-parallax-translate-passive="0, -0.1">
                <span class="header__letter header__letter--D parallax" data-parallax-translate-passive="-0.04">D</span>
                <span class="header__letter header__letter--E parallax" data-parallax-translate-passive="-0.03">E</span>
                <span class="header__letter header__letter--V parallax" data-parallax-translate-passive="-0.02">V</span>
                <span class="header__letter header__letter--E parallax" data-parallax-translate-passive="-0.01">E</span>
                <span class="header__letter header__letter--L parallax" data-parallax-translate-passive="0">L</span>
                <span class="header__letter header__letter--O parallax" data-parallax-translate-passive="0.01">O</span>
                <span class="header__letter header__letter--P parallax" data-parallax-translate-passive="0.02">P</span>
                <span class="header__letter header__letter--E parallax" data-parallax-translate-passive="0.03">E</span>
                <span class="header__letter header__letter--R parallax" data-parallax-translate-passive="0.04">R</span>
            </h6>            
        </div>
        

        <!-- <div class="arrow-down">
            <div class="arrow-down--top"></div>
            <div class="arrow-down--middle"></div>
            <div class="arrow-down--bottom"></div>
        </div> -->
    </header>
    
    <!-- ========== MAIN BODY ========== -->
    <main class="main">
        <!-- ========== ABOUT SECTION ========== -->
        <section class="section-about">
            <div class="u-center-text u-mb-large">
                <h1 class="heading-1 section-title--about">WHO</h1>
            </div>
            <div class="about">
                <!-- About main content -->
                <div class="column-text about__column">
                    <p class="column-text--main column-text--right">
                        I design things and bring them to life.
                    </p>
                    <p class="column-text--secondary column-text--right">
                        I'm a self-taught web developer who loves all things coding<sup>&#10033;</sup>.
                        <span class="fine-print">
                            <sup>&#10033;</sup> and pizza
                        </span>
                    </p>
                    <p class="column-text--tertiary column-text--left">
                        I graduated from Queen's University with a degree in engineering physics, but quickly realized that pursuing a career in that field wasn't for me.
                    </p>                    
                    <p class="column-text--tertiary column-text--left">
                        In combining my creative mindset, eye for detail, and love for tech, I inevitably fell down the rabbit hole of design and development.
                    </p>                    
                    <p class="column-text--tertiary column-text--right">
                        Driven by creative challenges, I'm always looking to bring about innovative and fresh designs in my work. My attention to detail and love for coffee also helps...I think.
                    </p>
                    <p class="column-text--tertiary column-text--right">
                        New experiences and challenges are kinda my thing, so let's chat!
                    </p>                    
                </div>
            </div>
        </section>

        <!-- ========== PROJECTS SECTION ========== -->
        <section class="section-projects">
            <div class="u-center-text u-mb-large">
                <h1 class="heading-1 background-text background-text--projects">WHAT</h1>
            </div>
        </section>

        <!-- ========== SKILLS SECTION ========== -->
        <section class="section-skills" style="display: none">
            <div class="u-center-text u-mb-largest">
                <h1 class="heading-1 background-text background-text--skills">SKILLS</h1>
            </div>
            <div class="skills">
                <!-- Web Development -->
                <h3 class="heading-3 skills__heading--web">
                    <span class="split-heading">Web</span>
                    <span class="split-heading">Devel-</span>
                    <span class="split-heading">opment</span>
                </h3>
                <div class="skills__web">
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-html5"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            HTML5
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-css3"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            CSS3
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <img src="../public/img/svg/icons/sass.svg" alt="Sass Logo" class="thumbnail__icon">
                        <figcaption class="thumbnail__caption">
                            Sass
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-mongodb"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            MongoDB
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-git"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            Git
                        </figcaption>
                    </figure>                        
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-github"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            Github
                        </figcaption>
                    </figure>  
                </div>
                <!-- Software Skills -->
                <h3 class="heading-3 skills__heading--software">
                    <span class="split-heading">Soft-</span>
                    <span class="split-heading">ware</span>
                </h3>
                <div class="skills__software">
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-javascript"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            JavaScript
                        </figcaption>
                    </figure>                  
                    <figure class="thumbnail">
                        <img src="../public/img/svg/icons/es6-js.svg" alt="ES6 Logo" class="thumbnail__icon">
                        <figcaption class="thumbnail__caption">
                            ES6
                        </figcaption>
                    </figure>                  
                    <figure class="thumbnail">                        
                        <img src="../public/img/svg/icons/node-js.svg" alt="Node.js logo" class="thumbnail__icon">                        
                        <figcaption class="thumbnail__caption">
                            Node.js
                        </figcaption>
                    </figure>                   
                    <figure class="thumbnail">                        
                        <img src="../public/img/svg/icons/express-js.svg" alt="Express.js logo" class="thumbnail__icon">                        
                        <figcaption class="thumbnail__caption">
                            Express.js
                        </figcaption>
                    </figure>                   
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-python"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            Python
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <img class="thumbnail__icon" src="../public/img/svg/icons/csharp.svg" alt="C# Logo">
                        <figcaption class="thumbnail__caption">
                            C#/.NET
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <img class="thumbnail__icon" src="../public/img/svg/icons/matlab.svg" alt="Matlab Logo">
                        <figcaption class="thumbnail__caption">
                            Matlab
                        </figcaption>
                    </figure>
                </div>
                <!-- UI/UX Design -->
                <h3 class="heading-3 skills__heading--design">
                    <span class="split-heading">Des-</span>
                    <span class="split-heading">ign</span>
                </h3>
                <div class="skills__design">
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-adobeillustrator"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            Illustrator
                        </figcaption>
                    </figure>
                    <figure class="thumbnail">
                        <svg class="thumbnail__icon">
                            <use xlink:href="../public/img/svg/icons/tech-sprites.svg#icon-adobephotoshop"></use>
                        </svg>
                        <figcaption class="thumbnail__caption">
                            Photoshop
                        </figcaption>
                    </figure>
                </div>
                <!-- Skills Description -->
                <p class="skills__text">
                    My greatest strength is my enthusiasm to keep up-to-date with modern technologies.
                </p>
            </div>
        </section>

        <!-- ========== CONTACT SECTION ========== -->
        <section class="section-contact">
            <div class="u-center-text">
                <h1 class="heading-1 background-text background-text--contact">HOW</h1>
            </div>
        </section>
    </main>

    <!-- ========== FOOTER SECTION ========== -->
    <footer class="footer">
        FOOTER
    </footer>
   
    <!-- ======================= VENDOR JAVASCRIPT ======================= -->
    <script src="../public/js/lib/TweenMax.min.js"></script>
    <script src="../public/js/lib/TimelineMax.min.js"></script>
    <script src="../public/js/lib/ScrollToPlugin.min.js"></script>
    <script src="../public/js/lib/DirectionalRotationPlugin.min.js"></script>
    <script src="../public/js/lib/ScrollMagic.min.js"></script>

    <!-- ======================= MY JAVASCRIPT ======================= -->
    <script src="../public/js/smooth-scroll.js"></script>
    <script src="../public/js/parallax/parallax.js"></script>
    <script src="../public/js/parallax/parallax-scene.js"></script>
    <script src="../public/js/bg-noise.js"></script>
</body>
</html>