<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>It's Mike | Portfolio</title>
</head>
<body>
    <div class="loading">
        LOADING ANIMATION
    </div>

    <div class="navigation">
        NAVIGATION
    </div>

    <header class="header">
        HEADER
    </header>
    
    <main class="main">
        <section class="section-about">
            ABOUT SECTION
        </section>
        <section class="section-projects">
            PROJECTS SECTION
        </section>
        <section class="section-skills">
            SKILLS SECTION
        </section>
        <section class="section-education">
            EDUCATION SECTION
        </section>
        <section class="section-testimonials">
            TESTIMONIALS SECTION
        </section>
        <section class="section-contact">
            CONTACT SECTION
        </section>
    </main>

    <footer class="footer">
        FOOTER
    </footer>
</body>
</html>