.u-rotate-270 {
  transform: rotateZ(270deg) !important;
  transform-origin: left !important; }

.u-center-text {
  text-align: center !important; }

.u-mb-smallest {
  margin-bottom: 3rem !important; }

.u-mb-smaller {
  margin-bottom: 5rem !important; }

.u-mb-small {
  margin-bottom: 8rem !important; }

.u-mb-medium {
  margin-bottom: 12rem !important; }

.u-mb-large {
  margin-bottom: 20rem !important; }

.u-mb-larger {
  margin-bottom: 25rem !important; }

.u-mb-largest {
  margin-bottom: 30rem !important; }

.u-ml-huge {
  margin-left: 50rem !important; }

@keyframes logoGlow {
  0% {
    filter: drop-shadow(0 0 0 rgba(0, 250, 255, 0.1)); }
  20% {
    filter: drop-shadow(0 0 0 rgba(0, 250, 255, 0.1)); }
  40% {
    filter: drop-shadow(0 0 2rem rgba(0, 250, 255, 0.3)); }
  55% {
    filter: drop-shadow(0 0 1rem rgba(0, 250, 255, 0.4)); }
  70% {
    filter: drop-shadow(0 0 6rem rgba(0, 250, 255, 0.8)); }
  100% {
    filter: drop-shadow(0 0 0 rgba(0, 250, 255, 0.1)); } }

@keyframes logoBorder {
  0% {
    border: #FF00D7 1px solid; }
  25% {
    border: #00FAFF 1px solid; }
  50% {
    border: #2422FF 1px solid; }
  75% {
    border: #00FF0D 1px solid; }
  100% {
    border: #FF00D7 1px solid; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'product sans';
  src: url("../fonts/Product_Sans/product_sans_regular.woff") format("woff"), url("../fonts/Product_Sans/product_sans_regular.woff2") format("woff2"); }

@font-face {
  font-family: 'product sans';
  src: url("../fonts/Product_Sans/product_sans_bold.woff") format("woff"), url("../fonts/Product_Sans/product_sans_bold.woff2") format("woff2");
  font-weight: bold; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway/raleway_thin-webfont.woff") format("woff"); }

body {
  font-family: 'raleway';
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.6; }

.heading-1 {
  font-size: 16rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1rem; }

.heading-2 {
  font-size: 10rem;
  font-weight: 300;
  line-height: 1; }

.heading-3 {
  font-size: 8rem;
  font-weight: 300;
  line-height: 1; }

.heading-4 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1; }

.heading-5 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1; }

.heading-6 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1; }

.section-title--about {
  position: relative;
  z-index: 2; }

.background-text--about {
  z-index: 1; }

.background-text--projects {
  z-index: 1; }

.fine-print {
  font-size: 2rem;
  display: block; }

.split-heading {
  display: block;
  letter-spacing: 1.2rem;
  line-height: 2;
  font-size: 7rem;
  text-transform: uppercase; }

.noise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; }

.column-text {
  display: grid;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  color: #fff; }
  .column-text > * {
    width: 40%;
    letter-spacing: .25rem; }
    .column-text > *:not(:last-child) {
      margin-bottom: 7rem; }
    .column-text > *:first-child {
      margin-bottom: 3rem; }
  .column-text--main {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: .75rem; }
  .column-text--secondary {
    font-size: 3rem; }
  .column-text--right {
    justify-self: end; }
  .column-text--left {
    justify-self: start; }

.logo-box {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  z-index: 100;
  display: grid;
  justify-items: center;
  align-items: center;
  top: 2rem;
  left: 2rem; }
  .logo-box::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px #000 solid; }

.logo {
  display: block;
  padding: .2rem;
  width: 100%;
  height: 100%;
  animation: logoBorder 1250ms linear infinite;
  filter: drop-shadow(0 0 0.3rem rgba(157, 160, 163, 0.5)); }

.thumbnail {
  width: 8rem;
  height: 8rem;
  padding: calc(8rem * .9);
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
  background-color: white;
  margin: 2rem;
  overflow: hidden;
  transition: all 300ms; }
  .thumbnail::before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 80%;
    border: 2.5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    transition: all 300ms; }
  .thumbnail:hover {
    background-color: #9da0a3; }
  .thumbnail:hover::before {
    opacity: 1; }
  .thumbnail:hover .thumbnail__icon {
    filter: blur(0.4rem) brightness(60%) invert(0.2);
    transform: scale(1.04) translateY(-0.3rem); }
  .thumbnail:hover .thumbnail__caption {
    opacity: 1;
    color: #fff;
    top: 50%; }
  .thumbnail__icon {
    display: block;
    width: 8rem;
    height: 8rem;
    transition: all 300ms ease-out 100ms;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .thumbnail__caption {
    display: inline-block;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 300ms; }

.footer {
  background-color: #454445; }

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #1F1F1F;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; }
  .header__bg {
    width: inherit;
    height: 100%;
    overflow: hidden; }
  .header__logo-box {
    display: block;
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    perspective: 20rem; }
  .header__logo {
    animation: logoGlow 5500ms ease-in-out infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .header__title {
    width: 100%;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 6rem;
    letter-spacing: 0rem;
    filter: invert(1); }
  .header__subtitle {
    width: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 6rem;
    letter-spacing: 0rem;
    font-weight: 600;
    filter: invert(1); }
  .header__letter {
    display: inline-block;
    color: black; }
    .header__letter--space {
      font-size: 0rem; }

.navigation {
  background-color: #9DA0A3;
  display: none; }

body::-webkit-scrollbar {
  width: .8rem;
  height: .8rem;
  background-color: #9DA0A3; }

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-button {
  display: none; }

body::-webkit-scrollbar-thumb {
  background-color: #454445;
  border-radius: 100px; }

body::-webkit-scrollbar-corner,
body::-webkit-resizer {
  background-color: #454445; }

.about {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  position: relative; }
  .about__column {
    position: relative;
    z-index: 3; }

.section-about {
  padding: 15rem 5rem 15rem;
  height: 100%;
  position: relative;
  background-color: #1f1f1f; }

.section-projects {
  background-color: #1f1f1f;
  color: white;
  padding: 50rem 0 50rem;
  position: relative;
  z-index: 9; }

.section-skills {
  background-color: #1f1f1f;
  padding: 30rem 0;
  position: relative; }

.section-contact {
  background-color: #1f1f1f;
  color: black;
  padding: 50rem 0;
  position: relative; }

.skills {
  margin: 0 auto;
  position: relative; }
  .skills > * {
    max-width: 110rem;
    margin: 0 auto; }
  .skills__web {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 13rem; }
  .skills__software {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 13rem; }
  .skills__design {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25rem; }
  .skills__heading--web, .skills__heading--software, .skills__heading--design {
    position: absolute; }
  .skills__heading--web {
    top: -14%;
    left: 10%; }
  .skills__heading--software {
    top: 15%;
    right: 5%; }
  .skills__heading--design {
    bottom: 32%;
    left: 25%; }
  .skills__text {
    font-size: 5rem;
    width: 100%;
    text-align: center;
    letter-spacing: 1.2rem;
    line-height: 1.3; }
