.section-about {
    margin-top: -80rem;
    padding: 15rem 0;
    z-index: 1;
}

.section-projects {
    margin-top: -20rem;
    padding: 20rem 0;
    z-index: 1;
}

.section-skills {
    padding: 20rem 0;
    position: relative;
    z-index: 1;
}

.section-contact {
    padding: 20rem 0;
    background-color: orangered;
    position: relative;
    z-index: 1;
}
