// CONTAINER FOR ALL SECTION-PROJECTS
.projects {
    // max-width: $max-content-width;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: calc(90vw * 3 + 40vw * 2 + 50vh * 3);

    // PINNED BACKGROUND TITLE
    &__title {
        z-index: 1;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &--2 {
            z-index: 1;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}