// CONTAINER FOR ALL SECTION-PROJECTS
.projects {
    // max-width: $max-content-width;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    // PINNED BACKGROUND TITLE
    &__title {
        z-index: 1;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}