.skills {
    margin: 0 auto;
    position: relative;
    
    & > * {
        max-width: $max-content-width;
        margin: 0 auto;
    }

    &__web {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 13rem;
    }

    &__software {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 13rem;
    }

    &__design {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 25rem;
    }

    &__heading { 
        &--web, &--software, &--design {
            position: absolute;
        }
        
        &--web {
            top: -14%;
            left: 10%;
        }

        &--software {
            top: 15%;
            right: 5%;
        }

        &--design {
            bottom: 32%;
            left: 25%;
        }
    }
  
    &__text {
        font-size: $large-font-size;
        width: 100%;
        text-align: center;
        letter-spacing: 1.2rem;
        line-height: 1.3;
    }
}