.section-about {
    padding: 15rem 5rem 15rem;
    height: 100%;
    position: relative;
    background-color: rgb(31, 31, 31);
    // overflow: hidden;
}

.section-projects {
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 50rem 0 50rem;
    position: relative;
    z-index: 9;
}

.section-skills {
    background-color: rgb(31, 31, 31);

    padding: 30rem 0;
    position: relative;
    // z-index: 20;
}

.section-contact {
    background-color: rgb(31, 31, 31);

    color: black;
    padding: 50rem 0;
    position: relative;
    // z-index: 30;
}