.section-about {
    padding: 15rem 5rem;
    height: 100%;
    position: relative;
    background-color: rgb(31, 31, 31);
    // overflow: hidden;
}

.section-projects {
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 20rem 0;
}

.section-skills {
    background-color: rgb(31, 31, 31);

    padding: 20rem 0;
}

.section-contact {
    background-color: rgb(31, 31, 31);

    color: black;
    padding: 20rem 0;
}