.btn {
    text-decoration: none;
    padding: 5rem;

    
    &::after {

    }

    &:link,
    &:visited {
        color: $color-grey-light;

    }
}

.btn-arrow-down {
    &::before,
    &::after {
        content: '';
        display: inline-block;
        width: 7rem;
        height: 1rem;
        background-color: #fff;
        border-radius: 100px;
    }

    &::before {
        transform: rotateZ(45deg);
        margin-right: -2.5rem;
    }
    
    &::after {
        transform: rotateZ(-45deg);
    }

}