.caption {
    &__text {
        display: grid;
        grid-template-columns: repeat(8, [text-start] max-content [text-end]);
        grid-template-rows: repeat(2, min-content);
        
        font-size: $medium-font-size;
        line-height: 1;
        
        &--1 {
            grid-column: text-start 1 / text-end 2;
            grid-row: 1 / 2;
        }
    
        &--2 {
            grid-column: text-start 3 / text-end 4;
            grid-row: 2 / 3;
        }
    
        &--3 {
            grid-column: text-start 5 / text-end 6;
            grid-row: 1 / 2;
        }
    
        &--4 {
            grid-column: text-start 7 / text-end 8;
            grid-row: 2 / 3;
        }
    }
}
