.logo-box {
    position: fixed;
    width: 5.5rem;
    height: 5.5rem;
    z-index: 100;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 2rem;
    left: 2rem;
    
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        @include centerAbsolute;
        border: 1px #000 solid;
    }
}

.logo {
    display: block;
    padding: .2rem;
    width: 100%;
    height: 100%;
    animation: logoBorder 1250ms linear infinite;
    filter: drop-shadow(0 0 .3rem rgba($color-grey-light, .5));
    
}
