.u-rotate-270 {
  transform: rotateZ(270deg) !important;
  transform-origin: left !important; }

.u-center-text {
  text-align: center !important; }

.u-mb-smallest {
  margin-bottom: 3rem !important; }

.u-mb-smaller {
  margin-bottom: 5rem !important; }

.u-mb-small {
  margin-bottom: 8rem !important; }

.u-mb-medium {
  margin-bottom: 12rem !important; }

.u-mb-large {
  margin-bottom: 20rem !important; }

.u-mb-larger {
  margin-bottom: 25rem !important; }

.u-mb-largest {
  margin-bottom: 30rem !important; }

.u-ml-huge {
  margin-left: 50rem !important; }

@keyframes logoGlow {
  0% {
    filter: drop-shadow(0 0 0 rgba(0, 250, 255, 0.1)); }
  20% {
    filter: drop-shadow(0 0 0 rgba(0, 250, 255, 0.1)); }
  40% {
    filter: drop-shadow(0 0 2rem rgba(0, 250, 255, 0.3)); }
  55% {
    filter: drop-shadow(0 0 1rem rgba(0, 250, 255, 0.4)); }
  70% {
    filter: drop-shadow(0 0 6rem rgba(0, 250, 255, 0.8)); }
  100% {
    filter: drop-shadow(0 0 0 rgba(0, 250, 255, 0.1)); } }

@keyframes logoBorder {
  0% {
    border: #FF00D7 1px solid; }
  25% {
    border: #00FAFF 1px solid; }
  50% {
    border: #2422FF 1px solid; }
  75% {
    border: #00FF0D 1px solid; }
  100% {
    border: #FF00D7 1px solid; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'product sans';
  src: url("../fonts/Product_Sans/product_sans_regular.woff") format("woff"), url("../fonts/Product_Sans/product_sans_regular.woff2") format("woff2"); }

@font-face {
  font-family: 'product sans';
  src: url("../fonts/Product_Sans/product_sans_bold.woff") format("woff"), url("../fonts/Product_Sans/product_sans_bold.woff2") format("woff2");
  font-weight: bold; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway/raleway_thin-webfont.woff") format("woff"); }

body {
  font-family: 'raleway';
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.6; }

.heading-1 {
  font-size: 16rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1rem; }

.heading-2 {
  font-size: 10rem;
  font-weight: 300;
  line-height: 1; }

.heading-3 {
  font-size: 8rem;
  font-weight: 300;
  line-height: 1; }

.heading-4 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1; }

.heading-5 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1; }

.heading-6 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1; }

.background-text--about {
  z-index: 1; }

.background-text--projects {
  z-index: 1; }

.fine-print {
  font-size: 2rem;
  display: block; }

.split-heading {
  display: block;
  letter-spacing: 1.2rem;
  line-height: 2;
  font-size: 8rem;
  text-transform: uppercase; }

.noise {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: #1F1F1F;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.3; }

.noise-body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #111; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: yellow;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  border: none;
  cursor: pointer; }

.btn-info {
  position: relative;
  z-index: 2; }

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  padding: 10rem 0; }
  .carousel__cta {
    position: absolute;
    top: 25%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.carousel-item {
  position: relative;
  z-index: 1;
  perspective: 20rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: [project-start] repeat(10, [col-start] 1fr [col-end]) [project-end];
  grid-template-rows: repeat(8, 1fr);
  grid-auto-rows: min-content;
  justify-items: center;
  align-items: center;
  max-width: 100vw;
  width: 130rem; }
  .carousel-item__img {
    grid-column: project-start / project-end;
    grid-row: 1 / -1;
    display: block;
    max-height: 100%;
    width: 100%;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .carousel-item__name {
    padding: 1rem 2rem;
    filter: drop-shadow(-2rem 2rem 0.4rem black);
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-weight: 600;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.column-text {
  display: grid;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  color: #fff; }
  .column-text > * {
    width: 40%;
    letter-spacing: .25rem; }
    .column-text > *:not(:last-child) {
      margin-bottom: 7rem; }
    .column-text > *:first-child {
      margin-bottom: 3rem; }
  .column-text--main {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: .75rem; }
  .column-text--secondary {
    font-size: 3rem; }
  .column-text--right {
    justify-self: end; }
  .column-text--left {
    justify-self: start; }

.logo-box {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  z-index: 100;
  display: grid;
  justify-items: center;
  align-items: center;
  top: 3.25rem;
  left: 3.25rem;
  transition: all 250ms ease-out, background-color 150ms ease-in;
  cursor: pointer;
  opacity: 0;
  visibility: hidden; }
  .logo-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    border: .2rem #000 solid;
    transition: all 250ms ease-in; }
  .logo-box:hover {
    transform: rotateZ(45deg);
    background-color: rgba(157, 160, 163, 0.1); }
  .logo-box:hover::before {
    animation: logoBorder 1250ms linear infinite; }

.logo {
  display: block;
  padding: .3rem .35rem .1rem;
  width: 100%;
  height: 100%; }

.thumbnail {
  width: 8rem;
  height: 8rem;
  padding: calc(8rem * .9);
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
  background-color: white;
  margin: 2rem;
  overflow: hidden;
  transition: all 300ms; }
  .thumbnail::before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 80%;
    border: 2.5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    transition: all 300ms; }
  .thumbnail:hover {
    background-color: #9da0a3; }
  .thumbnail:hover::before {
    opacity: 1; }
  .thumbnail:hover .thumbnail__icon {
    filter: blur(0.4rem) brightness(60%) invert(0.2);
    transform: scale(1.04) translateY(-0.3rem); }
  .thumbnail:hover .thumbnail__caption {
    opacity: 1;
    color: #fff;
    top: 50%; }
  .thumbnail__icon {
    display: block;
    width: 8rem;
    height: 8rem;
    transition: all 300ms ease-out 100ms;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .thumbnail__caption {
    display: inline-block;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 300ms; }

.footer {
  background-color: #454445; }

.header {
  height: 200rem;
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden; }
  .header__bg {
    width: 100%;
    height: 100%; }
  .header__logo-box {
    display: block;
    max-width: 85%;
    width: 35rem;
    max-height: 35rem;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    perspective: 20rem; }
  .header__logo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation: logoGlow 5500ms ease-in-out infinite; }
  .header__main-title, .header__secondary-title {
    display: inline-block;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    letter-spacing: 0rem;
    line-height: 1;
    text-transform: uppercase;
    filter: invert(1); }
  .header__main-title {
    top: 57vh; }
  .header__secondary-title {
    top: 62vh; }
  .header__first-name, .header__last-name {
    display: inline-block;
    font-size: 6rem;
    font-weight: 600; }
  .header__first-name {
    margin-right: 3rem; }
  .header__description {
    font-size: 2.5rem;
    font-weight: 300; }
  .header__letter {
    display: inline-block; }

.navigation {
  background-color: #9DA0A3;
  display: none; }

body::-webkit-scrollbar {
  width: .8rem;
  height: .8rem;
  background-color: #9DA0A3;
  display: none; }
  body::-webkit-scrollbar-track {
    background-color: transparent; }
  body::-webkit-scrollbar-track-piece, body::-webkit-scrollbar-button {
    display: none; }
  body::-webkit-scrollbar-thumb {
    background-color: #454445;
    border-radius: 100px; }
  body::-webkit-scrollbar-corner {
    background-color: #454445; }

body::-webkit-resizer {
  background-color: #454445; }

.about {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative; }
  .about__column {
    position: relative;
    z-index: 3; }
  .about__title {
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0.5; }

.section-about {
  margin-top: -80rem;
  padding: 15rem 0;
  z-index: 1; }

.section-projects {
  margin-top: -20rem;
  padding: 20rem 0;
  z-index: 1; }

.section-skills {
  padding: 20rem 0; }

.section-contact {
  padding: 20rem 0;
  background-color: orangered;
  position: relative;
  z-index: 1; }

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: calc(90vw * 3 + 50vh * 3); }
  .projects__title {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .projects__title--2 {
      z-index: 1;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }

.skills {
  margin: 0 auto;
  position: relative; }
  .skills > * {
    max-width: 110rem;
    margin: 0 auto; }
  .skills__web {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 13rem; }
  .skills__software {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 13rem; }
  .skills__design {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25rem; }
  .skills__heading--web, .skills__heading--software, .skills__heading--design {
    position: absolute; }
  .skills__heading--web {
    top: -14%;
    left: 10%; }
  .skills__heading--software {
    top: 15%;
    right: 5%; }
  .skills__heading--design {
    bottom: 32%;
    left: 25%; }
  .skills__text {
    font-size: 5rem;
    width: 100%;
    text-align: center;
    letter-spacing: 1.2rem;
    line-height: 1.3; }
