// PROJECTS CAROUSEL (CONTAINS ALL THE PROJECTS)
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    padding: 10rem 0;
    
    // CAROUSEL CALL-TO-ACTION
    &__cta {
        position: absolute;
        top: 25%;
        left: 5%;
        display: flex;
        flex-direction: column;
        align-items: start;
        filter: drop-shadow(0 3rem 1rem rgba(0, 0, 0, 0.5));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    } 
}

// CONTAINS EACH PROJECT
.carousel-item {
    position: relative;
    z-index: 1;
    perspective: 20rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: grid;    
    grid-template-columns: [project-start] repeat(10, [col-start] 1fr [col-end]) [project-end];
    grid-template-rows: repeat(8, 1fr);
    grid-auto-rows: min-content;
    justify-items: center;
    align-items: center;

    max-width: 100%;
    width: 130rem;
    
    &__img {
        grid-column: project-start / project-end;
        grid-row: 1 / -1;
        display: block;
        max-height: 100%;
        width: 100%;
        box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.3);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }    
    
    // PROJECT NAME
    &__name {
        padding: 1rem 2rem;
        background-color: gray;
        display: inline-block;
        z-index: 1;
    }   
}