.logo-box {
    position: fixed;
    width: 5.5rem;
    height: 5.5rem;
    z-index: 100;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 3rem;
    left: 3rem;
    transition: all 250ms ease-out,
                background-color 150ms ease-in;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    
    &::before {
        content: '';
        @include centerAbsolute;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px #000 solid;
        transition: all 250ms ease-in;
    }

    &:hover {
        transform: rotateZ(45deg) ; 
        background-color: rgba($color-grey-light, .1);
    }    
    
    &:hover::before {
        animation: logoBorder 1250ms linear infinite;
    }
}

.logo {
    display: block;
    padding: .2rem;
    width: 100%;
    height: 100%;
}
