.header {
    height: 250rem;
    width: 100%;
    position: relative;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    
    // HEADER BACKGROUND
    &__bg {
        width: 100%;
        height: 100%;
    }

    // HEADER MAIN LOGO
    &__logo-box {
        display: block;
        max-width: 85%;
        width: 35rem;
        max-height: 35rem;
        position: fixed;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        perspective: 20rem;
    }

    &__logo {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        animation: logoGlow 5500ms ease-in-out infinite;
    }

    // HEADER TITLES
    &__main-title,
    &__secondary-title {
        display: inline-block;
        width: 100%;
        position: fixed;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        letter-spacing: 0rem;
        line-height: 1;
        text-transform: uppercase;
        filter: invert(1);
    }

    &__main-title {
        top: 57vh;
    }

    &__secondary-title { 
        top: 62vh;
    }    
    
    // HEADER FIRST/LAST NAME
    &__first-name,
    &__last-name {
        display: inline-block;
        font-size: 6rem;
        font-weight: 600;
    }

    &__first-name {
        margin-right: 3rem;
    }
    
    &__description {
        font-size: 2.5rem;
        font-weight: 300;
    }
    
    &__letter {
        display: inline-block;
    }
}