body::-webkit {
    // Background of the scrollbar
    &-scrollbar {
        width: .8rem;
        height: .8rem;
        background-color: $color-grey-light;
        
        // Empty space below the progress bar
        &-track {
            background-color: transparent;
        }

        // Exposed layer of track and directional buttons
        &-track-piece,
        &-button {
            display: none;
        }

        // Draggable part of scrollbar that grows and shrinks
        &-thumb {
            background-color: $color-grey-dark;
            border-radius: 100px;    
        }
    
        // Corner of page
        &-corner {
            background-color: $color-grey-dark;
        }
        
    }
    
    // Resizer on corner
    &-resizer {
        background-color: $color-grey-dark;
    }
}