// COLORS
$color-primary-pink: #FF00D7;
$color-primary-blue: #2422FF;
$color-primary-cyan: #00FAFF;
$color-primary-green: #00FF0D;

// GREYS
$color-grey-light: #9DA0A3;

$color-grey-dark: #454445;
$color-grey-darker: #1F1F1F;


// FONT
$default-font-size: 1.6rem;
$medium-font-size: 3rem;
$large-font-size: 5rem;
$huge-font-size: 7rem;
$main-font-size: 4rem;


// PAGE WIDTH
$max-content-width: 110rem;


// ROTATE ANGLES
$about-angle: 165deg;
// $about-angle: 350deg;

// SPACING
$margin-smallest: 3rem;
$margin-smaller: 5rem;
$margin-small: 7rem;
$margin-medium: 10rem;
$margin-large: 20rem;
$margin-larger: 30rem;
$margin-largest: 40rem;

$margin-huge: 50rem;

// ICONS
$large-icon-size: 8rem;