// COLORS
$color-primary-red: #ee5253;
$color-primary-red-dark: #e62739;

// PASTELS
$color-primary-purple: #6534ff;
$color-primary-blue: #62bcfa;
$color-primary-pink: #fccdd3;
$color-secondary-purple: #bbc4ef;

// CANADIAN ORIGINAL
$color-primary-orange: #ff9f43;
$color-primary-green: #10ac84;
// $color-primary-pink: #f368e0;
$color-primary-cyan: #0abde3;
$color-primary-aqua: #01a3a4;
// $color-primary-blue: #2e86de;
// $color-primary-purple: #341f97;

$color-secondary-red: #ff6b6b;
$color-secondary-orange: #feca57;
$color-secondary-green: #1dd1a1;
$color-secondary-pink: #ff9ff3;
$color-secondary-cyan: #48dbfb;
$color-secondary-aqua: #00d2d3;
$color-secondary-blue: #54a0ff;
// $color-secondary-purple: #5f27cd;

// GREYS
$color-grey-light: #8395a7;
$color-grey-lighter: #c8d6e5;

$color-grey-dark: #576574;
$color-grey-darker: #222f3e;


// FONT
$default-font-size: 1.6rem;
$medium-font-size: 3rem;
$large-font-size: 5rem;
$main-font-size: 4rem;
$huge-font-size: 7rem;


// PAGE WIDTH
$max-content-width: 120rem;


// ROTATE ANGLES
$about-angle: 165deg;
// $about-angle: 350deg;

// SPACING
$margin-smallest: 3rem;
$margin-smaller: 5rem;
$margin-small: 7rem;
$margin-medium: 10rem;
$margin-large: 20rem;
$margin-larger: 30rem;
$margin-largest: 40rem;

$margin-huge: 50rem;

// ICONS
$skills-icon-size: 8rem;